<header role="banner">

  <nav class="navbar navbar-expand-md navbar-dark bg-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">Hotel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
        <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chambre">Chambre</a>
            <!-- <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="rooms.html">Room Videos</a>
              <a class="dropdown-item" href="rooms.html">Presidential Room</a>
              <a class="dropdown-item" href="rooms.html">Luxury Room</a>
              <a class="dropdown-item" href="rooms.html">Deluxe Room</a>
            </div> -->

          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/apropos">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>

           <li class="nav-item cta">
            <a class="nav-link" routerLink="/register"><span>Reserver</span></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

</header>
